.top-header{
	overflow: hidden;

}
.logo{
   width: 30%;
   height: 100px;
   background-color: cyan;
   float: left;
}
.banner{
	width: 65%;
	height: 100px;
	background-color: lightcoral;
	float: right;
}
 .Header-Bar{
	height: 100px;
	background-color: lightgreen;
	margin-top: 30px;
}
 .content{
    margin-top: 30px;
}
.left{
  width: 20%;
  height: 400px;
  background-color: mediumseagreen;
  float: left;
}
.middle{
  width: 50%;
  height: 400px;
  background-color: moccasin;
  float: left;
  margin-left: 5%;
}
.top{
  height: 100px;
  background-color: brown;
}
.center{
  height: 200px;
  background-color: orange;
}
.left-center{
  width: 50%;
  height: 200px;
  background-color: lime;
  float: left;
}
.right-center{
  width: 50%;
  height: 200px;
  background-color: orange;
  float: right;

}
.bottom{
   height: 100px;
   background-color: lightblue;
}
.right{
   width: 20%;
   height: 400px;
   background-color: violet;
   float: right;
}
h1{
	margin: 0;
}